@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#fixedText {
  position: absolute;
  bottom: 150px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  color: white;
  font-size: 14px;
  text-align: center;
}

#fixedText2 {
  position: absolute;
  bottom: 130px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  color: white;
  font-size: 19px;
  text-align: center;
}



#root {
  width: 100vw;
  height: 100vh;
}

canvas {
  position: absolute; /* Ensure it's in the same stacking context */
  z-index: 0; /* Lower than the menu bar */
  top: 0;
  left: 0;
}


body {
  margin: 0;
  font-family: 'DM Sans', sans-serif; /* Use DM Sans font */
  font-weight: bold; /* Set font weight to bold */
}
